@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;

  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  padding: 0 20px;
}

header i {
  overflow: hidden;
  max-width: 40px;
  font-size: 40px !important;
  cursor: pointer;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
}

.overlay.shown {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100px);

  border-radius: 10px;
  width: 80%;
  background-color: #fff;
  padding: 20px;
}

form h2 {
  width: 100%;
  margin: 10px 0;
}

form input, form button {
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.DayPicker-wrapper, .DayPicker-NavButton, .DayPicker-Day {
  outline: 0
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: unset;
  color: #4A90E2;
  font-weight: 700;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: unset;
}

.DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: unset;
  color: #4A90E2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
  margin-bottom: 2px;
  padding: 20px;
  cursor: default;
}

li i.toggle-done {
  overflow: hidden;
  max-width: 40px;
  margin-right: 10px;
  font-size: 40px !important;
  color: #777;
  cursor: pointer;
}

li .details h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #777;
}

li .details p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #aaa;
}

li .actions {
  display: flex;
  margin-left: auto;
}

li .actions i {
  overflow: hidden;
  max-width: 25px;
  font-size: 25px !important;
  margin-left: 10px;
  cursor: pointer;
}

li .actions i.save {
  color: #2ecc71;
}

li .actions i.edit {
  color: #7f8c8d;
}

li .actions i.remove {
  color: #e74c3c;
}

li:hover {
  background-color: #e2f0fb;
}

li:hover i.toggle-done, li:hover .details h3,
li.done i.toggle-done, li.done .details h3 {
  color: #4aaee2;
  text-shadow: 1px 1px 1px #ccc;
}

li.done .details h3 {
  text-decoration: line-through;
}

li:hover .details p {
  font-size: 14px;
  color: #777;
}

@media (min-width: 768px) {
  #root, form {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  #root, form {
    width: 40%;
  }
}